
.Crud{
  background-color: rgba(228, 240, 248, 1);
}

.logo1 {

  margin-right: 900px;
  width: 80px;
  
}

.agregar{
  width: 30px;
  right: 10px;
  position:fixed;
  top: 30px;
}

table{
  font-family: 'Courier New', Courier, monospace;
}


/* @media (min-width: 600px) {
  .logo1{
  
  width: 100px;
  margin-right:500px;
  position: absolute; 
   justify-content:flex-start; 
  }

.agregar{
  width: 8%;
  right: 30px;
  position:fixed;
  top: 30px;
}

table{
  font-size: small;
  
}



} 


 @media (min-width: 1024px) {


  .login{
      width:80%;
      margin: 20px 50px 50px 50px;
      background-color:#E4F0F8;
      border-radius:20px;
  }
}   
 */