.header{
    
    width: 100%;
    height: 30vh;
    margin: 0px 0px 0px 0px;
    display: flex;
    align-items:center ;
    justify-content:space-around;
    
   
}

.container{
 
    width: 100vw;
    height: 100vh;
   
    
}

.Logo{
    width: 120px;
    height: 150px;
}
.input{
    width: 250px;
    height:30px;
    border-radius: 10px;
   
}
.Filtro{
    width:80px;
    height: 100px;



}
.con_Cesta{
    display: flex;
    justify-content: flex-start;
}
.Cesta{
    width:100px ;
    height:145px;
    position: fixed;
    bottom: 40px;
    left: 30px;
}

.products{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap:1rem;
    margin: 0rem 0rem 0rem 2rem;
}

@media (max-width: 780px) {

    .Logo{
        width: 100px;
        height: 130px;
    }
    .input{
        width: 200px;
        height:30px;
        
       
    }
    .Filtro{
        width: 60px;
        height: 80px;
    
    
    
    }
   
    
    

}
